.logo{
margin-top: 17px;
margin-left: 20px;
}
nav{
    background-color: rgb(22, 77, 22);
    backdrop-filter: blur(50px);
    box-sizing: border-box;
    box-shadow: 0px 10px 20px black;
     position: fixed;
    height: 100px;
    width: 100%;
    z-index: 10;
}
nav:hover{
    border-bottom: 3px solid #0ef;
}
